
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');




*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;

}
html,body{
  width:100%;
  height:100%;
  display:grid;
  place-items: center;
  background-color:aqua;
  
}
.wrapper{
  width:300px;
  background-color: aliceblue;
  
  height:350px;
  
 border-radius: 7px;
  border:6px;
}
.wrapper .title{
  
  
  background-color:rgb(5, 86, 86);
  color:#fff;
  height:60px;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 7px 7px 0 0 ;
  
}
.wrapper form{
  padding:30px;


}
.wrapper form .pass{
  margin:-9px 0 16px 0;

}
.wrapper form .pass a{
  color:rgb(9, 126, 126);
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration:underline ;
}
.wrapper form .row{
  height:45px;
 
  margin-bottom: 15px;
  position:relative;

}
.wrapper form .row input{
  height:100%;
  width:100%;
  outline:none;
  padding-left: 60px;
  border-radius: 5px;
  border:1px solid lightgrey;
}
.wrapper form .row i{
  position:absolute;
  width:47px;
  height:100%;
  color:#fff;
  background-color: rgb(12, 122, 122);
  border:1px solid rgb(12, 122, 122);
  display:flex;
  align-items: center;
  justify-content: center;

  
}
.wrapper form .button input{
  color:#fff;

  padding-left: 0px;
  background-color: rgb(24, 169, 169);
  border:1px solid rgb(24, 169, 169);
  cursor:pointer;
  
}
form .button input:hover{
  background-color: rgb(59, 216, 216);
}
.wrapper form .Signup-link{

  padding-top: 10px;
  margin:-9px 0 16px 0;

}
.wrapper form .Signup-link a{
  color:rgb(9, 126, 126);
  text-decoration: none;
}
.wrapper form .Signup-link a:hover{
  text-decoration:underline ;
}
